
#BoxFullInformation{
	position: absolute;
	width: 100%;
	height: 78%;
	left: 0.5px;
	bottom: 0.5px;
	border-radius:4px;
	background:green;
}

#FullObjectInformation{
	position: absolute;
	width: 97%;
	height: 94%;
	left: 0px;
	bottom: 0px;
	border-radius:4px;
}